.img {
    background-color: #343a40;
}
#project {
    background-color: #f8f9fa;
}
.img2 {
    background-color: #343a40;
}
article {
    background-image: linear-gradient(to left , #d51f88 , #454ff6);
}