#resume {
    background-color: #f8f9fa;
}
.present {
    background-color: #f8f9fa;
    padding-top: 15px;
    border-radius: 10px;
    padding-inline: 10px;
    padding-right: auto;
}
.res {
   font-size: 62px;
   background: -webkit-linear-gradient(#4f2bd6,#7d27bb, #d42089);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.edu, .p-c {
    color: #d42089;
}
.skill {
    background-image: linear-gradient(to left , #d51f88 , #454ff6);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}
.skill-text {
    background: -webkit-linear-gradient(#4f2bd6,#7d27bb, #d42089);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
